@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #ff0700 100%);
  --foreground: #ffffff;
  --tron-red: #ff0700;
  --tron-black: #171717;
  --tron-gradient: linear-gradient(90deg, #ff0700 0%, #171717 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #171717 0%, #ff0700 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
